<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cm.order.center.dao.mapper.edit.OtcPostDetailEditMapper">
	
	<insert id="save" parameterType="com.cm.order.center.dao.po.OtcPostDetailPo">
		insert into otc_post_detail(
			contract_no,order_no,child_order_no,post_no,post_type,post_info,create_time
		)
		values(
			#{contractNo,jdbcType=VARCHAR},
			#{orderNo,jdbcType=VARCHAR},
			#{childOrderNo,jdbcType=VARCHAR},
			#{postNo,jdbcType=VARCHAR},
			#{postType,jdbcType=INTEGER},
			#{postInfo,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<insert id="saveList" parameterType="java.util.List">
		insert into otc_post_detail(
			contract_no,order_no,child_order_no,post_no,post_type,post_info,create_time
		)
		values
		<foreach collection="list" item="entity" separator=",">
		(
			#{contractNo,jdbcType=VARCHAR},
			#{orderNo,jdbcType=VARCHAR},
			#{childOrderNo,jdbcType=VARCHAR},
			#{postNo,jdbcType=VARCHAR},
			#{postType,jdbcType=INTEGER},
			#{postInfo,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP}
		)
		</foreach>
	</insert>
	
	<update id="editEntity" parameterType="com.cm.order.center.dao.po.OtcPostDetailPo">
		update otc_post_detail
		<set>
			 <if test="contractNo != null">
		     	contract_no = #{contractNo,jdbcType=VARCHAR},
		     </if>
			 <if test="orderNo != null">
		     	order_no = #{orderNo,jdbcType=VARCHAR},
		     </if>
			 <if test="childOrderNo != null">
		     	child_order_no = #{childOrderNo,jdbcType=VARCHAR},
		     </if>
			 <if test="postNo != null">
		     	post_no = #{postNo,jdbcType=VARCHAR},
		     </if>
			 <if test="postType != null">
		     	post_type = #{postType,jdbcType=INTEGER},
		     </if>
			 <if test="postInfo != null">
		     	post_info = #{postInfo,jdbcType=VARCHAR},
		     </if>
			 <if test="createTime != null">
		     	create_time = #{createTime,jdbcType=TIMESTAMP},
		     </if>
		</set>
		where post_seq=#{postSeq,jdbcType=INTEGER}
	</update>
	
	<update id="editRecord" parameterType="com.cm.architecture.jdbc.entity.EditValueAndWhereEntity">
		update otc_post_detail
		<set>
			<foreach collection="editValue" index="key" item="item">
				 <if test="item != null and item.value != null">
			     	${key} = #{item.value,jdbcType=${item.jdbcType}},
			     </if>
			</foreach>
		</set>
		<where>
			<foreach collection="editWhere" index="key" item="item">
				<if test="item != null and item.value != null">
					AND ${key} = #{item.value,jdbcType=${item.jdbcType}}
				</if>
			</foreach>
		</where>
	</update>

	<delete id="remove" parameterType="com.cm.order.center.dao.po.OtcPostDetailPo">
		delete from otc_post_detail where 
	    post_seq = #{postSeq,jdbcType=INTEGER}
	</delete>
	
</mapper>
